# Initial Data Exploraation

In [1]:
import pandas as pd
import os
from pathlib import Path

# Set pandas display options for better output
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 20)

print("Libraries imported successfully")

Libraries imported successfully

In [2]:
# Load all CSV files
data_dir = Path('./data')
dataframes = {}

print("Loading CSV files:")
for csv_file in data_dir.glob('*.csv'):
    # Clean table name (remove olist_ and _dataset)
    table_name = csv_file.stem.replace('olist_', '').replace('_dataset', '')
    
    # Load CSV
    df = pd.read_csv(csv_file)
    dataframes[table_name] = df
    
    print(f"âœ“ {table_name}: {len(df):,} rows, {len(df.columns)} columns")

print(f"\nLoaded {len(dataframes)} tables successfully!")

Loading CSV files:
âœ“ sellers: 3,095 rows, 4 columns
âœ“ product_category_name_translation: 71 rows, 2 columns
âœ“ orders: 99,441 rows, 8 columns
âœ“ order_items: 112,650 rows, 7 columns
âœ“ customers: 99,441 rows, 5 columns
âœ“ order_items: 112,650 rows, 7 columns
âœ“ customers: 99,441 rows, 5 columns
âœ“ geolocation: 1,000,163 rows, 5 columns
âœ“ order_payments: 103,886 rows, 5 columns
âœ“ geolocation: 1,000,163 rows, 5 columns
âœ“ order_payments: 103,886 rows, 5 columns
âœ“ order_reviews: 99,224 rows, 7 columns
âœ“ products: 32,951 rows, 9 columns

Loaded 9 tables successfully!
âœ“ order_reviews: 99,224 rows, 7 columns
âœ“ products: 32,951 rows, 9 columns

Loaded 9 tables successfully!

In [3]:
# Examine each table structure
for table_name, df in dataframes.items():
    print(f"\nðŸ” TABLE: {table_name.upper()}")
    print("="*50)
    print(f"Shape: {df.shape[0]:,} rows Ã— {df.shape[1]} columns")
    print(f"Columns: {list(df.columns)}")
    print(f"Data types: {dict(df.dtypes)}")
    
    # Check for null values
    null_counts = df.isnull().sum()
    if null_counts.sum() > 0:
        print(f"Null values: {dict(null_counts[null_counts > 0])}")
    
    # Show sample data
    print("Sample data:")
    print(df.head(2))

ðŸ” TABLE: SELLERS
==================================================
Shape: 3,095 rows Ã— 4 columns
Columns: ['seller_id', 'seller_zip_code_prefix', 'seller_city', 'seller_state']
Data types: {'seller_id': dtype('O'), 'seller_zip_code_prefix': dtype('int64'), 'seller_city': dtype('O'), 'seller_state': dtype('O')}
Sample data:
                          seller_id  seller_zip_code_prefix seller_city  \
0  3442f8959a84dea7ee197c632cb2df15                   13023    campinas
1  d1b65fc7debc3361ea86b5f14c68d2e2                   13844  mogi guacu

  seller_state
0           SP
1           SP

ðŸ” TABLE: PRODUCT_CATEGORY_NAME_TRANSLATION
==================================================
Shape: 71 rows Ã— 2 columns
Columns: ['product_category_name', 'product_category_name_english']
Data types: {'product_category_name': dtype('O'), 'product_category_name_english': dtype('O')}
Sample data:
    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories

ðŸ” TABLE: ORDERS
==================================================
Shape: 99,441 rows Ã— 8 columns
Columns: ['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']
Data types: {'order_id': dtype('O'), 'customer_id': dtype('O'), 'order_status': dtype('O'), 'order_purchase_timestamp': dtype('O'), 'order_approved_at': dtype('O'), 'order_delivered_carrier_date': dtype('O'), 'order_delivered_customer_date': dtype('O'), 'order_estimated_delivery_date': dtype('O')}
Null values: {'order_approved_at': np.int64(160), 'order_delivered_carrier_date': np.int64(1783), 'order_delivered_customer_date': np.int64(2965)}
Sample data:
                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef

  order_status order_purchase_timestamp    order_approved_at  \
0    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
1    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2018-07-26 14:31:00           2018-08-07 15:27:45

  order_estimated_delivery_date
0           2017-10-18 00:00:00
1           2018-08-13 00:00:00

ðŸ” TABLE: ORDER_ITEMS
==================================================
Shape: 112,650 rows Ã— 7 columns
Columns: ['order_id', 'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date', 'price', 'freight_value']
Data types: {'order_id': dtype('O'), 'order_item_id': dtype('int64'), 'product_id': dtype('O'), 'seller_id': dtype('O'), 'shipping_limit_date': dtype('O'), 'price': dtype('float64'), 'freight_value': dtype('float64')}
Sample data:
                           order_id  order_item_id  \
0  00010242fe8c5a6d1ba2dd792cb16214              1
1  00018f77f2f0320c557190d7a144bdd3              1

                         product_id                         seller_id  \
0  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36

   shipping_limit_date  price  freight_value
0  2017-09-19 09:45:35   58.9          13.29
1  2017-05-03 11:05:13  239.9          19.93

ðŸ” TABLE: CUSTOMERS
==================================================
Shape: 99,441 rows Ã— 5 columns
Columns: ['customer_id', 'customer_unique_id', 'customer_zip_code_prefix', 'customer_city', 'customer_state']
Data types: {'customer_id': dtype('O'), 'customer_unique_id': dtype('O'), 'customer_zip_code_prefix': dtype('int64'), 'customer_city': dtype('O'), 'customer_state': dtype('O')}
Sample data:
                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP

ðŸ” TABLE: GEOLOCATION
==================================================
Shape: 1,000,163 rows Ã— 5 columns
Columns: ['geolocation_zip_code_prefix', 'geolocation_lat', 'geolocation_lng', 'geolocation_city', 'geolocation_state']
Data types: {'geolocation_zip_code_prefix': dtype('int64'), 'geolocation_lat': dtype('float64'), 'geolocation_lng': dtype('float64'), 'geolocation_city': dtype('O'), 'geolocation_state': dtype('O')}
Sample data:
   geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
0                         1037       -23.545621       -46.639292
1                         1046       -23.546081       -46.644820

  geolocation_city geolocation_state
0        sao paulo                SP
1        sao paulo                SP

ðŸ” TABLE: ORDER_PAYMENTS
==================================================
Shape: 103,886 rows Ã— 5 columns
Columns: ['order_id', 'payment_sequential', 'payment_type', 'payment_installments', 'payment_value']
Data types: {'order_id': dtype('O'), 'payment_sequential': dtype('int64'), 'payment_type': dtype('O'), 'payment_installments': dtype('int64'), 'payment_value': dtype('float64')}
Sample data:
                           order_id  payment_sequential payment_type  \
0  b81ef226f3fe1789b1e8b2acac839d17                   1  credit_card
1  a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card

   payment_installments  payment_value
0                     8          99.33
1                     1          24.39

ðŸ” TABLE: ORDER_REVIEWS
==================================================
Shape: 99,224 rows Ã— 7 columns
Columns: ['review_id', 'order_id', 'review_score', 'review_comment_title', 'review_comment_message', 'review_creation_date', 'review_answer_timestamp']
Data types: {'review_id': dtype('O'), 'order_id': dtype('O'), 'review_score': dtype('int64'), 'review_comment_title': dtype('O'), 'review_comment_message': dtype('O'), 'review_creation_date': dtype('O'), 'review_answer_timestamp': dtype('O')}
Null values: {'review_comment_title': np.int64(87656), 'review_comment_message': np.int64(58247)}
Sample data:
                          review_id                          order_id  \
0  7bc2406110b926393aa56f80a40eba40  73fc7af87114b39712e6da79b0a377eb
1  80e641a11e56f04c1ad469d5645fdfde  a548910a1c6147796b98fdf73dbeba33

   review_score review_comment_title review_comment_message  \
0             4                  NaN                    NaN
1             5                  NaN                    NaN

  review_creation_date review_answer_timestamp
0  2018-01-18 00:00:00     2018-01-18 21:46:59
1  2018-03-10 00:00:00     2018-03-11 03:05:13

ðŸ” TABLE: PRODUCTS
==================================================
Shape: 32,951 rows Ã— 9 columns
Columns: ['product_id', 'product_category_name', 'product_name_lenght', 'product_description_lenght', 'product_photos_qty', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']
Data types: {'product_id': dtype('O'), 'product_category_name': dtype('O'), 'product_name_lenght': dtype('float64'), 'product_description_lenght': dtype('float64'), 'product_photos_qty': dtype('float64'), 'product_weight_g': dtype('float64'), 'product_length_cm': dtype('float64'), 'product_height_cm': dtype('float64'), 'product_width_cm': dtype('float64')}
Null values: {'product_category_name': np.int64(610), 'product_name_lenght': np.int64(610), 'product_description_lenght': np.int64(610), 'product_photos_qty': np.int64(610), 'product_weight_g': np.int64(2), 'product_length_cm': np.int64(2), 'product_height_cm': np.int64(2), 'product_width_cm': np.int64(2)}
Sample data:
                         product_id product_category_name  \
0  1e9e8ef04dbcff4541ed26657ea517e5            perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                 artes

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       287.0                 1.0
1                 44.0                       276.0                 1.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0

In [4]:
# Data Analysis Summary for dbt Staging Strategy
print("DATA ANALYSIS SUMMARY FOR DBT STAGING MODELS")
print("-" * 60)

# Table sizes ranked by row count
print("\nTable Sizes (prioritized by row count):")
table_stats = [(name, len(df), len(df.columns)) 
               for name, df in dataframes.items()]
table_stats.sort(key=lambda x: x[1], reverse=True)

for name, rows, cols in table_stats:
    print(f"{name:<20} {rows:>8,} rows  {cols:>2} columns")

# Identify timestamp columns requiring type casting
print("\nTimestamp columns requiring ::timestamp casting:")
timestamp_cols = []
for table_name, df in dataframes.items():
    for col in df.columns:
        if any(keyword in col.lower() for keyword in ['date', 'timestamp', 'time']):
            timestamp_cols.append((table_name, col))

for table, col in timestamp_cols:
    print(f"{table}.{col}")

# Map ID columns for relationship analysis
print("\nID columns (for table relationships):")
id_mapping = {}
for table_name, df in dataframes.items():
    ids = [col for col in df.columns if col.endswith('_id')]
    if ids:
        id_mapping[table_name] = ids

for table, ids in id_mapping.items():
    print(f"{table:<20} {', '.join(ids)}")

# Identify data quality issues
print("\nColumns with significant null values (>10%):")
quality_issues = []
for table_name, df in dataframes.items():
    null_percentages = (df.isnull().sum() / len(df) * 100)
    high_nulls = null_percentages[null_percentages > 10]
    
    for col, pct in high_nulls.items():
        quality_issues.append(f"{table_name}.{col}: {pct:.1f}% null")

if quality_issues:
    for issue in quality_issues:
        print(issue)
else:
    print("No major data quality issues detected")

print("\n" + "-" * 60)
print("Staging Model Implementation Priority:")
print("1. Core entities: orders, products, customers")
print("2. Transaction details: order_items, order_reviews")  
print("3. Supporting data: sellers, order_payments")
print("4. Reference data: geolocation, product_category_name_translation")

DATA ANALYSIS SUMMARY FOR DBT STAGING MODELS
------------------------------------------------------------

Table Sizes (prioritized by row count):
geolocation          1,000,163 rows   5 columns
order_items           112,650 rows   7 columns
order_payments        103,886 rows   5 columns
orders                 99,441 rows   8 columns
customers              99,441 rows   5 columns
order_reviews          99,224 rows   7 columns
products               32,951 rows   9 columns
sellers                 3,095 rows   4 columns
product_category_name_translation       71 rows   2 columns

Timestamp columns requiring ::timestamp casting:
orders.order_purchase_timestamp
orders.order_delivered_carrier_date
orders.order_delivered_customer_date
orders.order_estimated_delivery_date
order_items.shipping_limit_date
order_reviews.review_creation_date
order_reviews.review_answer_timestamp

ID columns (for table relationships):
sellers              seller_id
orders               order_id, customer_id
order_items          order_id, order_item_id, product_id, seller_id
customers            customer_id, customer_unique_id
order_payments       order_id
order_reviews        review_id, order_id
products             product_id

Columns with significant null values (>10%):
order_reviews.review_comment_title: 88.3% null
order_reviews.review_comment_message: 58.7% null

------------------------------------------------------------
Staging Model Implementation Priority:
1. Core entities: orders, products, customers
2. Transaction details: order_items, order_reviews
3. Supporting data: sellers, order_payments
4. Reference data: geolocation, product_category_name_translation